<div class="container" style="background-color: white;">
    <div class="alert alert-primary" role="alert" *ngIf="flag">
        GenreAdded
    </div>
    <div class="d-flex justify-content-left">
        <form #addGenreFrom = "ngForm" (submit)="addGenre(addGenreFrom)">
            <div class="form-group">
                <label for="name">Genre Name: </label>
                <input type="text" [(ngModel)]="name" name="name" style="margin: 12px;" class="form-control-inline" placeholder="Enter Genre Name" required />
            </div>
            <div class = "form-group">
                <input type="checkbox" [(ngModel)]="tnc" style="margin-top: 12px; margin-bottom: 16px; margin-right: 4px;" name ="tnc" required />I have read and accept the Terms and Conditions
            </div>
            <div class = "form-group">
                <input type="submit" value="Add Genre" style="margin-top: 16px;" [disabled]="!addGenreFrom.valid" />
            </div>
        </form>
    </div>

</div>